**/target
ui/build
ui/node_modules
cluster_seed.txt
**/build
**.log
**.out
newReadme2.md
archive_actors
archive_interfaces
archive_cap
nat-example/target
nat-example/public/*
!nat-example/public/index.html
!nat-example/public/simulator.js
!nat-example/public/controller.js
nat-example/nohup.out
wasmcloud_patches/*