#rotateMode{
  border-radius: 50%;
  width: 125px;
  height: 125px;
  background-color: gray;
  color:white;
  position:relative;
 
}

#amdfc-simple-button-14{
	position:absolute;
  top:50%;
  left:0px;
  transform:translateY(-50%);
}

#amdfc-simple-button-15{
 position:absolute;
  top:50%;
  right:0px;
  transform:translateY(-50%);
}

#amdfc-simple-button-12{
	 position:absolute;
  top:0px;
  left:50%;
  transform:translateX(-50%);
}

#amdfc-simple-button-13{
	position:absolute;
  bottom:0px;
  left:50%;
  transform:translateX(-50%);
}